.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
}

#id_country {
  height: 100%;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #7f858b !important;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}


.StripeElement--webkit-autofill {
  background-color: rgba(215, 204, 200, 1) !important;
}

.stripe-style-input::placeholder {
    color: #7f858b;
}

.section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-overflow: ellipsis;
}
.section h4 {
  margin-top: 0;
}
.section p {
  margin-bottom: 5px;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(139, 195, 74, 0.6);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


